/*
This stylesheet represents CC app styles
Empty classes will be edited at runtime with dynamic app values
*/

h3 {
	font-weight: 200;
}

.switch-label {
	margin-right:20px; 
	font-weight:100; 
	font-size:14px;
}

#container {
	width: 95%;
	margin: 2px auto;
}

.switch {
	margin: 10px;
}

#link-to-working-folder {
    color: white;
}

select#files-for-processing {
    background: #434343;
    color: #d8d8d8;
	padding: 5px;
	width: 100%;
	margin-top: 5px;
}

#container button:not(.topcoat-button-bar__button) {
	margin: 5px 10px 5px 0;
}

.topcoat-button-bar__button {
	width: 100%;
}
.topcoat-button-bar {
	width: 100%;
}

option {
	direction: rtl;
	font-size: small;
}

.tab-content {
	position: absolute;
	width: 95%;
}